body {
	background: #3b5997;
}
#wrapper {
	margin: auto;
	width: 920px;
	height: 640px;
	color: white;
	font-family: arial;
}

#fakebook_logo {
	font-size: 130px;
	font-weight: bold;
	font-family: facebook letter faces;
	/* If you do not have Facebook Letter Faces font, the font will be the default font of your system*/
}
#header {
	text-align: center;
}

input, select {
	border-radius: 8px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"] {
	width: 147px;
	height: 30px;
	margin: 0px 5px 5px 0px;
	color: gray;
}

input[type="color"] {
	width: 147px;
	height: 35px;
	margin: 0px 5px 5px 0px;
	color: gray; 
}
#door_color{
	margin-bottom: 10px;
}

select {
	width: 150px;
	padding: 3px;
	height: 30px;
	margin: 0px 5px 5px 0px;
	color: gray;
}

input[type="datetime"] {
	width: 250px;
}

.info {
	float: left;
	font-weight: bold;
	height: 55%;
	margin-top: 15px;
}

#clear_btn, #register_btn {
	width: 100%;
	height: 50px;
	background: #dddddd;
	color: #3b5997;
	margin-top: 15px;
	font-size: 17px;
}

.address_info {
	width: 80px;
	height: 30px;
	margin: 0px 5px 5px 0px;
	color: gray;
}

#user_info {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.info_divs {
	border: solid white 1px;
	border-radius: 5px;
	padding: 10px;
	position: relative;
	height: 250px;
}

#header_none_imp_info {
	position: absolute;
	background: #3b5997;
	top: -12px;
	left: 70px;
}

#header_imp_info {
	position: absolute;
	background: #3b5997;
	top: -12px;
	left: 130px;
}