body {
    background-color: #add8e6;
}

span {
    font-weight: bold;
}

img {
    width: 155px;
}

hr {
    height: 3px;
    background-color: lightgrey;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 0px;
}
